html {
  scroll-behavior: smooth;
}

body {
  font-family: Varela Round,sans-serif;
  text-align: center;
  margin: 0px;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;
  word-spacing: 5px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  color: #665e5d;
  padding: 0px;
  font-size: 18px;
}

.navbar a {
  flex-basis: 150px;
  flex-grow: 1;
  margin: 5px auto;
}

.profile {
  width: 200px;
  border-radius: 50%;
  align-items: center;
  margin-top: 150px;
}

.profile2 {
  width: 200px;
  border-radius: 50%;
  align-items: center;
}

.country {
  width: 100%;
  align-items: center;
  border-radius: 2%;
}

h1 {
  font-size: 40px;
  text-align: center;
  border: 50px;
  color: #FE8839;
}

h2 {
  font-size: 25px;
  color: #FE8839;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #665e5d;
}

div {
  background: white;
  padding:50px;
  margin: 100px auto;
  border: 1px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,.2);
}

a {
  text-decoration: none;
  text-align: center;
  color:#FE8839;
  font-weight: 400;
  }

ul {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  line-height: 20px;
  color: #665e5d;
}

li {
  display: inline;
}

i {
  font-size: 40px;
}

/*Nav bar*/
a:hover{
  background-color: #faf7f7;
  text-transform: uppercase;
}
a:active {
  background-color: #FFFFFF;
}
/*Social media logos*/

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

/*custom design with class*/

.container{
  width: 700px;
  margin: 40px auto;
}
.card-white {
  background-color: white;
  padding:40px
  box-shadow 0px 10px 30px rgba(0,0,0,0.1)
  border-radius: 4px;
  margin: 20;
  border-radius:
}
.btn-grey {
  padding: 10px 20px;
  border-radius: 5px;
   background-color: #EEE0E0;
}
.btn-grey:hover  {
background-color: rgb(240, 240, 240)
}


iframe {
  width: 100%;
  height: 500px;
}
